/* 1439-769 */

@media (max-width: 1180px) {

    /* header */
    header {
        padding-inline: 32px;
    }

    .burger {
        display: block;
    }

    .menu {
        position: fixed;
        top: 98.4px;
        left: -100%;
        background-color: #C46A2B;
        transition: .3s linear;
    }

    .menu-list {
        flex-direction: column;
        row-gap: 8px;
        padding: 16px 56px 16px 16px;
    }

    /* most_popular_section */

    .most_popular_section {
        padding: 96px 0 96px 40px;
    }

    /* footer  */

    footer {
        column-gap: 66px;
    }

    /* *************** catalog page  ****************/

    /* guitar section  */

    .article_gone_last_three {
        display: none;
    }

    .catalog_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .catalog_section {
        padding: 96px 32px;
    }

    /* pagination_section */

    .pagination_section {
        padding: 64px 393px;
        align-items: center;
        justify-content: center;
    }

    .pagination_section_btn_left,
    .pagination_section_btn_right {
        font-size: 0;
        /* ტექსტი ქრება */
        padding: 0;
        width: 40px;
        justify-content: center;
    }

    .pagination_section_btn_left img,
    .pagination_section_btn_right img {
        width: 16px;
        height: 16px;
    }

    /* *************** catalog page  ****************/
    main {
        padding-inline: 32px;
    }


}